.vscode/**
.vscode-test/**
.vscode-test-web/**
**/*.code-workspace
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.*.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
assets/screenshot-*
