.react-flow .handleIn {
  width: 15px;
  height: 8px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #cacaca;
}

.react-flow .handleOut {
  width: 15px;
  height: 8px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #cacaca;
}

.react-flow .handleN {
  width: 8px;
  height: 15px;
  border-radius: 3px;
  background: #f00;
  border: 2px solid #cacaca;
}

.react-flow__node {
  background: white;
  border: 1px solid #cacaca;
  border-radius: 4px;
  box-shadow: 0 2px 15px 2px #cacaca;
  width: 200px;
  padding: 0px;
  display: flex;
  font-family: 'Roboto';
  padding-right: 0px;
}

.react-flow__node.selected {
  border: 1px solid #4ea9ff;
  box-shadow: 0 2px 20px 2px #4ea9ff;
}


.title-box {
  height: 50px;
  line-height: 50px;
  background: #f7f7f7;
  border-bottom: 1px solid #e9e9e9;
  border-radius: 4px 4px 0px 0px;
  padding-left: 10px;
}

.box {
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  color: #555555;
}

.box .line {
  width: 188px;
  height: 1px;
  border: none;
  border-top: 1px solid #e9e9e9;
}

.box .textArea {
  border-radius: 4px;
  border: 1px solid #cacaca;
  font-size: 13px;
  color: #555555;
  width: 170px;
  min-height: 50px;
  max-height: 200px;
  resize: vertical;
}

.box .input {
  border-radius: 4px;
  border: 1px solid #cacaca;
  font-size: 13px;
  color: #555555;
  width: 170px;
  height: 15px;
}













.actionButton {
  border: 1px solid #a7a7a7;
  padding: 0px 0px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
}