.tag {
    cursor: row-resize;
    transition: unset;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 2px 4px;
    color: var(--vscode-badge-foreground);
    background-color: var(--vscode-badge-background);
}

.tagRow {
    min-height: 24px;
}

.tagRowEditing {
    padding: 0;
}

.select {
    width: 100%;
}

.select :global(.ant-select-selector) {
    min-height: 24px;
    border-radius: 2px;
}

.text {
    display: block;
    width: 100%;
    min-height: 20px;
    line-height: 20px;
}