/* Override Ant Design's Button styles */

.ant-btn {
    height: fit-content;
    border: 1px solid var(--vscode-button-border, transparent) !important;
    border-radius: 2px;
    box-shadow: none;
    transition: none !important;
}

.ant-btn.ant-btn-sm {
    border-radius: 2px;
}

.ant-btn.ant-btn-lg {
    border-radius: 2px;
}

.ant-btn:not(.ant-btn-disabled):focus-visible {
    outline: 1px solid var(--vscode-focusBorder) !important;
    outline-offset: 2px !important;
}

.ant-btn-primary {
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
}

.ant-btn-primary:not(.ant-btn-disabled):hover {
    background-color: var(--vscode-button-hoverBackground) !important;
}

.ant-btn-primary:not(.ant-btn-disabled):active {
    background-color: var(--vscode-button-hoverBackground) !important;
}

.ant-btn-default {
    color: var(--vscode-button-secondaryForeground);
    background-color: var(--vscode-button-secondaryBackground);
}

.ant-btn-default:not(.ant-btn-disabled):hover {
    color: var(--vscode-button-secondaryForeground) !important;
    background-color: var(--vscode-button-secondaryHoverBackground) !important;
}

.ant-btn-default:not(.ant-btn-disabled):active {
    color: var(--vscode-button-secondaryForeground) !important;
    background-color: var(--vscode-button-secondaryHoverBackground) !important;
}